{% extends 'home/base.html' %}

<!-- Link your custom css file here -->
{% block mycss%}

<link rel="stylesheet" href="../../static/home/css/Index.css">

{% endblock mycss%}

<!-- title name -->
{% block title %}

<title>Index page</title>

{% endblock title %}

<!-- write your code hare -->
{% block content %}
<div class="row">
    <div class="col-sm-8  " id="post_div">
        <div class="row">
            <div class="col-sm-3 ">
                <!-- <h1>left</h1> -->
            </div>

            <div class="col-sm-9 " id="post_div_main">
                
            </div>

        </div>
        <!-- <h1>main</h1> -->

    </div>

    <div class="col-sm-4 " id="user_info_div" >
        <!-- <div class="chip" id="user_info_div">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.webp" alt="Card image chip" id="user_image">Name
        </div>
        <h1>side</h1> -->
    </div>

</div>


{% endblock content %}

<!-- link your js file here -->
{% block javascript %}

<script src="../../static/home/javascript/index.js"></script>
<script>

    window.addEventListener('load', function(){
        home_page_load()
    })
   
</script>

{% endblock javascript %}