{% extends 'home/base.html' %}


<!-- Link your custom css file here -->
{% block mycss%}
<link rel="stylesheet" href="../../static/home/css/massage.css">

{% endblock mycss%}

<!-- title name -->
{% block title %}

<title>massage</title>

{% endblock title %}

<!-- write your code hare -->
{% block content %}
<h1>massage page</h1>
<button id="btn" >click</button>

{% endblock content %}

<!-- link your js file here -->
{% block javascript %}
<script src="../../static/home/javascript/massage.js" ></script>
{% endblock javascript %}