{% extends 'home/base.html' %}


<!-- Link your custom css file here -->
{% block mycss%}
<link rel="stylesheet" href="../../static/home/css/search.css">

{% endblock mycss%}

<!-- title name -->
{% block title %}

<title>search</title>

{% endblock title %}

<!-- write your code hare -->
{% block content %}
<h1>search page </h1>
<button id="btn" >click</button>
{% endblock content %}

<!-- link your js file here -->
{% block javascript %}
<script src="../../static/home/javascript/search.js" ></script>
{% endblock javascript %}